<div class="page-layout">
  <div class="sidebar">
    <sidenav></sidenav>
  </div>
  <div class="navbar">
    <topnav title="Archive">
    </topnav>
  </div>
  <div class="body">
    <input type="search" id="searchbox" placeholder="Search for a case" autocomplete="false">
    <div class="archive-table">
      <div class="archive-entry">
        <span class="caseid">Case 36</span>
        <span class="casetype">REPORT</span>
        <span class="time">10 minutes ago</span>
        <span class="user code">164736401051484160</span>
        <span class="description">Added new user 222673142705815554 with permission 34</span>
      </div>
      <div class="archive-entry">
        <span class="caseid">Case 36</span>
        <span class="casetype">REPORT</span>
        <span class="time">10 minutes ago</span>
        <span class="user code">164736401051484160</span>
        <span class="description">Added new user 222673142705815554 with permission 34</span>
      </div>
      <div class="archive-entry">
        <span class="caseid">Case 36</span>
        <span class="casetype">REPORT</span>
        <span class="time">10 minutes ago</span>
        <span class="user code">164736401051484160</span>
        <span class="description">Added new user 222673142705815554 with permission 34</span>
      </div>
      <div class="archive-entry">
        <span class="caseid">Case 36</span>
        <span class="casetype">REPORT</span>
        <span class="time">10 minutes ago</span>
        <span class="user code">164736401051484160</span>
        <span class="description">Added new user 222673142705815554 with permission 34</span>
      </div>
    </div>

  </div>
