<div class="page-layout">
  <div class="sidebar">
    <sidenav></sidenav>
  </div>
  <div class="navbar">
    <topnav title="Archive">
    </topnav>
  </div>
  <div class="body">

    <div class="archive-table-desktop">
      <span> </span>
      <span class="top">
        <h3>INITIATOR</h3>
      </span>
      <span class="top">
        <h3>META</h3>
      </span>
      <span>
        <h3>DESCRIPTION</h3>
      </span>
      <span>
        <h3>TIMESTAMP</h3>
      </span>
      <span><input type="checkbox" name="" id=""></span>
      <span class="user">164736401051484160</span>
      <span>Case 36, report</span>
      <span>Added new user 222673142705815554 with permission 34</span>
      <span>10 minutes ago</span>

      <span><input type="checkbox" name="" id=""></span>
      <span class="user">164736401051484160</span>
      <span>Case 36, report</span>
      <span>Added new user 222673142705815554 with permission 34</span>
      <span>10 minutes ago</span>

    </div>
    <div class="archive-table-mobile">
      <div class="archive-entry">
        <span class="caseid">Case 36</span>
        <span class="casetype">REPORT</span>
        <span class="time">10 minutes ago</span>
        <span class="user code">164736401051484160</span>
        <span class="description">Added new user 222673142705815554 with permission 34</span>
      </div>
      <div class="archive-entry">
        <span class="caseid">Case 36</span>
        <span class="casetype">REPORT</span>
        <span class="time">10 minutes ago</span>
        <span class="user code">164736401051484160</span>
        <span class="description">Added new user 222673142705815554 with permission 34</span>
      </div>
      <div class="archive-entry">
        <span class="caseid">Case 36</span>
        <span class="casetype">REPORT</span>
        <span class="time">10 minutes ago</span>
        <span class="user code">164736401051484160</span>
        <span class="description">Added new user 222673142705815554 with permission 34</span>
      </div>
      <div class="archive-entry">
        <span class="caseid">Case 36</span>
        <span class="casetype">REPORT</span>
        <span class="time">10 minutes ago</span>
        <span class="user code">164736401051484160</span>
        <span class="description">Added new user 222673142705815554 with permission 34</span>
      </div>
    </div>

  </div>
