.user {
  background-color: var(--bg-dark);
  padding: 5px;
  border-radius: 5px;
  width: auto;
  text-align: center;
  font-family: var(--monospace)
}

.archive-table .archive-entry:nth-child(even) {
  background-color: var(--bg-light);
  border-radius: 5px;
  padding: 20px;
}

.button {
  cursor: pointer;
  padding: 5px 25px;
  margin-right: 20px;
  border-radius: 5px;
  background-color: var(--bg-light);
  box-shadow: var(--shadow);
  color: var(--text);
}


.casetop {
  display: grid;
  grid-template-columns: 130px 200px 130px auto;
  padding-bottom: 20px;
  -webkit-box-align: center;
  align-items: center;
  row-gap: 5px;
}

.casetop h3 {
  margin-bottom: 0;
}

h3 {
  color: var(--gold);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.archive-table {
  width: 100%;
}

.archive-entry {
  padding: 0 20px;
  width: 100%;
  word-break: break-all;
  margin-bottom: 20px;
}

.archive-entry a {
  text-decoration: underline;
}

.archive-entry h4 {
  text-transform: uppercase;
}

.user {
  margin-bottom: 15px;
  grid-area: user;
  width: 180px;
}

.description {
  color: var(--light-text);
  grid-area: description;
}

.caseid {
  grid-area: caseid;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 15pt;
}

.time {
  grid-area: time;
  justify-self: flex-end;
  text-align: right;
  padding-bottom: 5px;

}

.casetype {
  justify-self: flex-end;
  grid-area: type;
  color: #EB5757;
  font-weight: bold;
  padding-bottom: 5px;

  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 15pt;
}

#searchbox {
  width: 100%;
  padding: 20px;
  border: 0;
  color: white;
  margin-bottom: 20px;
  background-color: var(--bg-light);
  outline: none;
  border-radius: 5px;

}


@media only screen and (max-width: 820px) {
  .archive-entry {
    padding: 15px;
  }

  .time,
  .user {
    font-size: 10pt;
    width: auto;
  }

  .casetop {
    grid-template-columns: repeat(2, auto);
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
  }

  .button {
    margin-right: 15px;
    padding: 5px 15px;
  }
}

@media only screen and (max-width: 330px) {

  .time,
  .user {
    font-size: 8pt;
    width: auto;
  }
}

@media only screen and (min-width: 1600px) {
  .user {
    width: 250px;
  }

}
