<div class="page-layout">
  <div class="sidebar">
    <sidenav></sidenav>
  </div>
  <div class="navbar">
    <topnav navtitle="Case Inspection" subheader="{{ 'Case Id ' + caseID }}">
    </topnav>
  </div>
  <div class="body" *ngIf="cases$ | async as cases">
    <div class="caseGrid">
      <div id="form">
        <h2>Add Data</h2>
        <app-form
          formType="appendData"
          caseID="{{ caseID }}"
          (updateData)="getData()"
        ></app-form>
      </div>
      <div id="case">
        <div class="casetop mb-3">
          <h3>Issuer</h3>
          <span *ngIf="cases['creator_tag'] === 'Unknown#0000'; else elseBlock">
            Unknown#0000
          </span>
          <ng-template #elseBlock>{{ cases["creator_tag"] }}</ng-template>
          <h3>Issuer ID</h3>
          <span>{{ cases["creator"] }}</span>
          <h3>User</h3>
          <span
            *ngIf="cases['user_tag'] === 'Unknown#0000'; else elseUsername"
            >{{ cases["user"] }}</span
          >
          <ng-template #elseUsername> {{ cases["user_tag"] }} </ng-template>
          <h3>User ID</h3>
          <span>{{ cases["user"] }}</span>

          <h3>Type</h3>
          <span class="{{ cases['flags'] | bitwise }}">{{
            cases["flags"] | bitwise
          }}</span>
          <h3>Created</h3>
          <span>{{ cases["created"] | date: "medium" }}</span>
        </div>

        <h3>Entries</h3>
        <div class="archive-table mt-3">
          <div
            class="archive-entry"
            *ngFor="let case of caseData | filterImages; index as i"
          >
            <h4>
              By
              <span
                *ngIf="case.creator_tag === 'Unknown#0000'; else elseBlock"
                >{{ case.creator }}</span
              >
              <ng-template #elseBlock>{{ case.creator_tag }}</ng-template>
            </h4>

            <span style="color: var(--light-text);">{{ case.text }}</span>
            <p></p>
            <span
              ><span class="code">{{ i + 1 }}</span> &mdash;
              {{ case.created | date: "dd LLLL yyyy" }}</span
            >
            <span *ngIf="case.image">
              -
              <a
                href="https://f.diverse.graphics/case/{{ this.caseID }}/{{
                  case.image
                }}"
                target="_blank"
                >Attachment</a
              ></span
            >
          </div>
          <div *ngIf="images.length != 0">
            <h3 class="mt-5">Images</h3>
            <div class="attachedImages">
              <div class="attachedImage" *ngFor="let imgSrc of images">
                <a
                  href="https://f.diverse.graphics/case/{{ this.caseID }}/{{
                    imgSrc
                  }}"
                  target="_blank"
                  ><img
                    src="https://f.diverse.graphics/case/{{ this.caseID }}/{{
                      imgSrc
                    }}"
                    height="200px"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
