.user {
  background-color: var(--bg-dark);
  padding: 5px;
  border-radius: 5px;
  width: auto;
  text-align: center;
  font-family: var(--monospace);
}

.button {
  cursor: pointer;
  padding: 5px 25px;
  margin-right: 20px;
  border-radius: 5px;
  background-color: var(--bg-light);
  box-shadow: var(--shadow);
  color: var(--text);
}

.casetop {
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 20px;
  justify-content: flex-start;
  column-gap: 20px;
  row-gap: 5px;
}

.casetop h3 {
  margin-bottom: 0;
}

h3,
h2 {
  color: var(--gold);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.archive-table {
  width: 100%;
}

.archive-entry {
  width: 100%;
  word-break: break-word;
  margin-bottom: 20px;
  padding: 0px 5px;
}

.archive-entry a {
  text-decoration: underline;
}

.archive-entry h4 {
  text-transform: uppercase;
}

.user {
  margin-bottom: 15px;
  grid-area: user;
  width: 180px;
}

.description {
  color: var(--light-text);
  grid-area: description;
}

.caseid {
  grid-area: caseid;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 15pt;
}

.time {
  grid-area: time;
  justify-self: flex-end;
  text-align: right;
  padding-bottom: 5px;
}

.casetype {
  justify-self: flex-end;
  grid-area: type;
  color: #eb5757;
  font-weight: bold;
  padding-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 15pt;
}

#searchbox {
  width: 100%;
  padding: 20px;
  border: 0;
  color: white;
  margin-bottom: 20px;
  background-color: var(--bg-light);
  outline: none;
  border-radius: 5px;
}

.Note {
  color: var(--Note);
}

.Warn {
  color: var(--Warn);
}

.Kick {
  color: var(--Kick);
}

.Ban,
.Open,
.None {
  color: var(--Ban);
}

.Mute,
.Closed {
  color: var(--Mute);
}

.Inprogress {
  color: var(--InProgress);
}

.DWC {
  color: var(--DWC);
}
input[type="checkbox"] {
  padding: 0;
  width: auto;
}

.error {
  color: var(--red);
  margin-top: 5px;
  letter-spacing: 3px;
}

.newCaseForm {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: minmax(25em, 36em) minmax(30em, 1fr);
  column-gap: 20px;
  grid-template-areas: "data image ";
}
.removeImage {
  color: var(--red);
  cursor: pointer;
  margin-right: 10px;
}
.newCase {
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  width: 100%;
  background-color: var(--bg-light);
  color: var(--text);
}
.newCase:focus {
  border: 0;
  outline: 0;
}
input[type="submit"]:disabled {
  background-color: rgba(239, 239, 239, 0.3) !important;
}
.select {
  height: 31.6px;
  // border-left: 5px solid red;
}
label {
  margin-right: 5px;
}

.labelrow {
  width: 100%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-right: 10px;
}

.users {
  // width: 350px;
  padding-right: 10px;
}

.checkbox {
  display: block;
  align-self: flex-end;
}

.caseGrid {
  display: grid;
  grid-template-columns: minmax(34em, 40em) minmax(40em, 1fr);
  column-gap: 40px;
  height: 100%;
}

#case,
#form {
  overflow-x: auto;
  min-width: 0;
}
@media only screen and (max-width: 820px) {
  .archive-entry {
    padding: 15px;
  }

  .time,
  .user {
    font-size: 10pt;
    width: auto;
  }

  .casetop {
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
  }

  .button {
    margin-right: 15px;
    padding: 5px 15px;
  }
}

@media only screen and (max-width: 330px) {
  .time,
  .user {
    font-size: 8pt;
    width: auto;
  }
}

@media only screen and (min-width: 1600px) {
  .user {
    width: 250px;
  }
}
form {
  min-width: 0;
  // padding: 20px 40px;
  overflow-x: auto;
}

.split-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.attachedImages {
  padding: 20px 0;
  max-height: 400px;
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
}
.attachedImage {
  position: relative;
  height: 100%;
  margin-left: 10px;
}
textarea {
  padding: 10px !important;
}

#imagepicker,
#save,
#reset {
  border: none;
  padding: 5px 20px;
  margin-right: 20px;
  border-radius: 5px;
}

#imagepicker {
  background-color: var(--bg-light);
  box-shadow: var(--shadow);
  color: var(--text);
}

#save {
  background-color: #27ae60;
  color: var(--light-text);
}

#reset {
  color: var(--red);
  background-color: transparent;
  border: 1px var(--red) solid;
}
ngx-dropzone-image-preview {
  padding: 0 20px !important;
  padding-left: 0 !important;
  outline: 0 !important;
  margin: 0 !important;
  display: block !important;
  width: auto !important;
  height: 100% !important;
  min-height: auto !important;
}

@media only screen and (max-width: 520px) {
  form,
  .image-box {
    border: none;
  }

  .split-row {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }

  .split-row .ml-2 {
    margin: 0 !important;
  }

  .users {
    width: auto;
  }

  #imagepicker,
  #save,
  #reset {
    margin-right: 5px;
    padding: 5px 15px;
  }

  .error {
    letter-spacing: 2px;
    font-size: 10pt;
  }

  .image-box {
    padding-left: 0px;
    padding-top: 30px;
  }

  .btns {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
}
