.topbar h1 {
  color: var(--gold);
  line-height: 1;
  margin-bottom: 0;
}

.topbar h3 {
  line-height: 1;
  font-weight: 400;
}

#header {
  grid-area: header;
  align-self: center;
}

#header h3 {
  margin-top: .5em;
}

.menuButton {
  display: none;
}


.topbar {
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  grid-template-columns: 1fr auto 60px;
  grid-template-areas: "header button profile";
}

.dropdownModule {
  margin: 0 10px;
  display: block;
  cursor: pointer;
  position: relative;
  color: var(--normal-text);
  justify-self: center;
  grid-area: button;
  background-color: var(--light-text);
  padding: 10px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.profile {
  justify-self: flex-end;
  grid-area: profile;
  background: url(../../../../assets/images/defualt.jpg);
  padding: 10px;
  border-radius: 50%;
  background-size: contain;
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

#talkbubble ul {
  list-style: none;
}

#talkbubble {
  display: none;
  z-index: 10;
  width: 250px;
  height: 80px;
  background-color: var(--light-text);
  position: absolute;
  top: 65px;
  right: -43px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--normal-text);
  padding: 15px 25px;
  font-size: 12pt;
}

#talkbubble:before {
  content: "";
  position: absolute;
  right: 50px;
  top: -20px;
  width: 0;
  height: 0;
  border-bottom: 20px solid var(--light-text);
  border-right: 13px solid transparent;
  border-left: 13px solid transparent;
}

@media only screen and (max-width: 520px) {
  .menuButton {
    z-index: 1;
    display: block;
    bottom: -75px;
    right: -75px;
    width: 150px;
    height: 150px;
    background-color: var(--gold);
    padding: 20px;
    border-radius: 50%;
    position: fixed;

  }

  .menuIcon {
    color: var(--bg-dark);
    position: relative;
    top: 15px;
    right: -15px;
    font-size: 20pt;
  }

  .profile {
    width: 40px;
    height: 40px;
    margin: 0 5px;
  }

  .topbar h1 {
    font-size: 1.7em;
  }

  .topbar h3 {
    font-size: 1em;
  }

  .dropdownModule {
    height: 30px;
    width: 30px;
  }


}

@media only screen and (max-width: 320px) {
  .topbar h1 {
    font-size: 1.5em;
  }

  .topbar h3 {
    font-size: 0.9em;
    margin: 0;
  }
}
