<div class="topbar">
  <div id="header">
    <h1 class="title">{{navtitle | uppercase}}</h1>
    <h3 *ngIf="subheader">{{subheader | uppercase}}</h3>
  </div>
  <div routerLink={{buttonLink}} class="dropdownModule" *ngIf="button"
    onmouseover="this.querySelector('.tooltip').style.display='block'"
    onmouseout="this.querySelector('.tooltip').style.display='none'"><i class="fas fa-plus"></i>
    <div class="tooltip" style="display: none;">{{tooltip}}</div>
  </div>
  <div class="profile" style="background: url({{profilePic}});background-size: contain;"></div>
</div>
<div class="menuButton" (click)="openNavbar()"><i class="fas fa-bars menuIcon"></i></div>
