<!-- Start landing page -->
<header>
	<a href="/" style="grid-area:logo"><img src="/assets/images/DiverseLogo.svg" alt="Diverse Logo" id="logo"></a>
	<nav class="center-block">
		<a href="javascript:void(0)"><span class="burger"></span></a>
	</nav>
</header>
<main>
	<section class="jumbotron">
		<h2 class="center-text">Welcome to</h2>
		<h1 class="center-text">Diverse Graphics</h1>
		<p>Diverse is a Graphic Design server filled with various levels of designers.
			This is a server for beginners and experienced people alike! A great place for people to learn and get tips.</p>
		<button class="cta-button center-block" style="display:block;position:relative;bottom:-1em;">Join Guild</button>
	</section>
	<section class="cards container-fluid row">
		<div class="col-sm">
			<figure>
				<img src="#" alt="Image 1">
				<figcaption>
					Feedback channels where you can post your work, and get feedback from designers and non-designers. 
				</figcaption>
			</figure>
		</div>
		<div class="col-sm">
			<figure>
				<img src="#" alt="Image 1">
				<figcaption>
					Technical help channel, in case you need help with one of the softwares, drawing tablet, theory, and so on.
				</figcaption>
			</figure>
		</div>
		<div class="col-sm">
			<figure>
				<img src="#" alt="Image 1">
				<figcaption>
					Marketplace, where you can both offer your design services, or list them on a job board. We also have a system for reviews.
				</figcaption>
			</figure>
		</div>
		<div class="col-sm">
			<figure>
				<img src="#" alt="Image 1">
				<figcaption>
					We use a proprietary bot, in addition to some popular powerful ones, that is under constant development to enable the guild to have unique features, such as raffle, perks, AI powered FAQ, quick help, and more.
				</figcaption>
			</figure>
		</div>
	</section>
</main>
<!-- End landing page -->