/* Tag */
.page-container {
  background: url("../../assets/images/pattern.jpg") repeat;
  background-position: 0 0;
  -webkit-animation: moving_background 500s linear infinite;
  animation: moving_background 500s linear infinite;
  height: 100vh;
}

main {
  height: calc(100vh - 90px);
  display: grid;
  grid-template-areas:
    ". . jumbo jumbo jumbo jumbo jumbo jumbo jumbo jumbo . ."
    "cards cards cards cards cards cards cards cards cards cards cards cards";
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr;


  section.jumbotron {
    grid-area: jumbo;
    margin: 3rem 0;
    background: var(--bg-dark);
    border-radius: var(--radius-big);
    padding: 3rem 3rem 0 3rem;
  }

  section.cards {
    background: var(--bg-dark);
    grid-area: cards;
  }
}

/* Class */
.jumbotron {
  grid-area: jumbo;
}

.featureIcon {
  color: var(--gold)
}

@-webkit-keyframes moving_background {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 0;
  }
}

@keyframes moving_background {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 0;
  }
}


h1 {
  color: var(--gold);
  font-size: 3rem;
}

h2 {
  text-transform: uppercase;
  letter-spacing: .14em;
  margin: 0;
  padding: 0;
  line-height: 0;
}

/* Public CSS */
.center-text {
  text-align: center;
}

.center-block {
  margin: 0 auto;
}

.cta-button {
  border-radius: 2rem;
  background: var(--gold-dark);
  color: var(--bg);
  text-transform: uppercase;
  letter-spacing: 0.08em;
  padding: .6rem 1.2rem;
  border: none;
  font-weight: 600;
}


@media only screen and (max-width: 575px) {
  main {
    grid-template-areas: "jumbo jumbo jumbo jumbo jumbo jumbo jumbo jumbo jumbo jumbo jumbo jumbo"
      "cards cards cards cards cards cards cards cards cards cards cards cards";
  }

  .page-container {
    background: var(--bg-dark);
    -webkit-animation: none;
    animation: none;
  }

  section.jumbotron {
    margin: 0rem 0 2rem 0 !important;
    padding: 2rem 2rem 0 2rem !important;
    // height: calc(100vh - 90px);
    border-radius: 0 !important;
  }

  .center-block {
    margin: 0 !important;
  }

  .cta-button {
    width: 100%;
    border-radius: var(--radius-sml);
  }

  h2 {
    letter-spacing: normal;
  }

  .jumbotron .center-text {
    text-align: left;
    line-height: 1;
    padding-bottom: 5px;
  }
}

@media only screen and (min-width: 576px) {
  main {
    grid-template-areas: ". jumbo jumbo jumbo jumbo jumbo jumbo jumbo jumbo jumbo jumbo ."
      "cards cards cards cards cards cards cards cards cards cards cards cards";
  }
}

@media only screen and (min-width: 992px) {
  main {
    grid-template-areas: ". . jumbo jumbo jumbo jumbo jumbo jumbo jumbo jumbo . ."
      "cards cards cards cards cards cards cards cards cards cards cards cards";
  }
}

@media only screen and (min-width: 1200px) {
  main {
    grid-template-areas: ". . . jumbo jumbo jumbo jumbo jumbo jumbo . . ."
      "cards cards cards cards cards cards cards cards cards cards cards cards";
  }
}

@media only screen and (min-width: 2000px) {
  main {
    grid-template-areas: ". . . . jumbo jumbo jumbo jumbo . . . ."
      "cards cards cards cards cards cards cards cards cards cards cards cards";
  }
}
