.fullbody {
  height: 100vh;
  background: var(--bg-dark);
  font-size: 40pt;
  display: -webkit-box;
  display: flex;
  align-content: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 300;
}
