.alert {
  background-color: var(--red);
  padding: 10px 20px;
  text-align: center;
  color: var(--normal-text);
  font-weight: 500;
  font-size: 12pt;
  border-radius: var(--radius-sml);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}

.body h3 {
  font-weight: 400;
}

#recentcases {
  padding: 20px 0px;
  overflow-x: auto;
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
}

.case-container {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.case-box {
  cursor: pointer;
  margin-right: 10px;
  display: grid;
  min-width: 300px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  grid-template-rows: 1fr 1fr 10px 1fr;
  grid-template-areas: "type""username"".""date";
  background-color: var(--bg-light);
  padding: 20px;
  row-gap: 5px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  position: relative;
  top: 0;
  border-radius: var(--radius-sml);
}

.case-box:hover {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  top: -7px;
  position: relative;
  box-shadow: 0 8px 18px 0 rgba(0, 0, 0, .25);
}

#type {
  letter-spacing: 2px;
  grid-area: type;
  font-size: 10pt;
  text-transform: uppercase;
}

#username {
  grid-area: username;
}

#time {
  grid-area: date;
  font-size: 10pt;

}

.letterspacing {
  letter-spacing: 3px;
}

.Warn {
  color: var(--blue);
}

.Kick {
  color: #F2994A;
}

.Ban,
.Open,
.None {
  color: #EB5757;
}

.Mute,
.Closed {
  color: #F2C94C;
}

.Inprogress {
  color: #27AE60;
}


@media only screen and (max-width: 520px) {
  .letterspacing {
    letter-spacing: 2px;
  }
}
