.alert {
  background-color: var(--red);
  padding: 10px 20px;
  text-align: center;
  color: var(--normal-text);
  font-weight: 500;
  font-size: 12pt;
  border-radius: var(--radius-sml);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}

.body h3 {
  font-weight: 400;
}

#recentcases {
  padding: 20px 0px;
  overflow-x: auto;
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
}

.case-container {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.case-box {
  margin-right: 10px;
  display: grid;
  min-width: 300px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "type""username"".""date";
  background-color: var(--bg-light);
  padding: 20px;
  row-gap: 5px;
  border-radius: var(--radius-sml);
}

#type {
  letter-spacing: 5px;
  grid-area: type;
  font-size: 10pt;
}

#username {
  grid-area: username;
}

#time {
  grid-area: date;
  font-size: 10pt;

}

.letterspacing {
  letter-spacing: 5px;
}

.warn {
  color: var(--blue);
}

.kick {
  color: #F2994A;
}

.ban,
.open {
  color: #EB5757;
}

.mute,
.closed {
  color: #F2C94C;
}

.inprogress {
  color: #27AE60;
}


@media only screen and (max-width: 520px) {
  .letterspacing {
    letter-spacing: 2px;
  }
}
