  <div class="page-layout">
    <div class="sidebar">
      <sidenav></sidenav>
    </div>
    <div class="navbar">
      <topnav button="true" title="Admin Panel" subheader="Overview" tooltip="New&nbsp;case"
        buttonLink="/admin/new-case">
      </topnav>
    </div>
    <div class="body">
      <div class="alert">There are 2 outstanding staff tickets! — <a routerLink="/admin/tickets"
          style="text-decoration: underline;">Click here
          to handle them</a> </div>
      <h3><span class="letterspacing"> LAST 10 CASES</span> - <a routerLink="/admin/cases"
          style="text-decoration: underline;">view more</a> </h3>
      <div id="recentcases">
        <div *ngFor="let case of cases" class="case-box" routerLink='/admin/cases/{{case.id}}'>
          <div id="type" class="{{case.type}}">{{case.type | uppercase}}</div>
          <div id="username">{{case.username}}</div>
          <div id="time">{{case.date}}</div>
        </div>
      </div>
      <h3 class="pt-4"><span class="letterspacing"> OPEN TICKETS</span> - <a routerLink="/admin/tickets"
          style="text-decoration: underline;">view more</a> </h3>
      <div id="recentcases">
        <div class="case-box">
          <div id="type" class="open">OPEN</div>
          <div id="username">Username#0000</div>
          <div id="time">10.10.20 13:37</div>
        </div>
        <div class="case-box">
          <div id="type" class="inprogress">IN PROGRESS</div>
          <div id="username">Username#0000</div>
          <div id="time">10.10.20 13:37</div>
        </div>
        <div class="case-box">
          <div id="type" class="open">OPEN</div>
          <div id="username">Username#0000</div>
          <div id="time">10.10.20 13:37</div>
        </div>
        <div class="case-box">
          <div id="type" class="open">OPEN</div>
          <div id="username">Username#0000</div>
          <div id="time">10.10.20 13:37</div>
        </div>
      </div>
    </div>
  </div>
