<div class="sidenav-container">
  <ul id="main">
    <li><a href="#" routerLink="/admin" routerLinkActive="active">Dashboard</a></li>
    <li><a href="#" routerLink="/admin/tickets" routerLinkActive="active">Open tickets</a></li>
    <li><a href="#" routerLink="/admin/bans" routerLinkActive="active">Recent bans</a></li>
    <li><a href="#" routerLink="/admin/cases" routerLinkActive="active">Recent cases</a></li>
    <li><a href="#" routerLink="/admin/archive" routerLinkActive="active">Archive</a></li>
  </ul>
  <div id="admin">
    <div class="subheader">ADMINSTRATOR</div>
    <ul>
      <li><a href="#">User access</a></li>
      <li><a href="#">Audit log</a></li>
    </ul>
  </div>
  <ul id="logout" class="subheader">
    <li><a href="#">LOGOUT</a></li>
  </ul>
</div>
