ul {
  list-style: none;
  color: var(--light-text);

}

li {
  padding: 5px 0;
}

.active {
  color: var(--gold);
}

#main {
  grid-area: main;
}

#admin {
  grid-area: admin;
}

#logout {
  grid-area: logout;
  align-self: flex-end;
  text-align: center;
}

.sidenav-container {
  height: 100vh;
  padding: 40px 20px 0px 20px;
  display: grid;
  font-size: 14pt;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "main""admin""."".""logout";
}

.logout,
.closeIcon {
  display: none;
}

#logout {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

#logout:hover {
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  color: var(--light-text);
}

@media only screen and (max-width: 520px) {
  .sidenav-container {
    padding: 40px 60px 0px 60px;
    position: relative;
  }

  #logout {
    display: none;
  }


  .closeIcon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .logout {
    display: block;
    position: absolute;
    bottom: -75px;
    left: -75px;
    width: 150px;
    height: 150px;
    background-color: #EB5757;
    padding: 20px;
    border-radius: 50%;
  }

  .logoutIcon {
    color: var(--bg-dark);
    position: relative;
    top: 15px;
    left: 75px;
    font-size: 20pt;
  }

}


.subheader {
  color: var(--bg-light);
  font-weight: 600;
}
