<div class="sidenav-container">
  <ul id="main">
    <li><a href="#" routerLink="/admin" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">Dashboard</a></li>
    <li><a href="#" routerLink="/admin/tickets" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Open
        tickets</a></li>
    <li><a href="#" routerLink="/admin/bans" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Recent
        bans</a></li>
    <li><a href="#" routerLink="/admin/cases" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Recent
        cases</a></li>
    <li><a href="#" routerLink="/admin/archive" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">Archive</a></li>
  </ul>
  <div id="admin">
    <div class="subheader">ADMINSTRATOR</div>
    <ul>
      <li><a href="#">User access</a></li>
      <li><a href="#">Audit log</a></li>
    </ul>
  </div>
  <ul id="logout" class="subheader">
    <li><a href="#">LOGOUT</a></li>
  </ul>
</div>
