.archive-table {
  width: 100%;
}

.archive-entry {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-row-gap: 0px;
  grid-column-gap: 10px;
  word-break: break-word;
  padding: 20px;
  position: relative;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  bottom: 0;
  cursor: pointer;

}

.archive-entry:hover {
  bottom: 5px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  box-shadow: var(--shadow);
  border-radius: 5px;
  background-color: var(--bg-light);
}

.user {
  margin-bottom: 15px;
}

.description {
  color: var(--light-text);
}

.caseid {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 15pt;
}

.time {
  padding-bottom: 5px;
  text-align: right;

}

.casetype {
  justify-self: flex-end;
  font-weight: bold;
  padding: 2px 10px;
  margin-left: 10px;
  color: var(--normal-text);
  border-radius: 5px;
  color: var(--bg-dark);

  // background-color: #c890ebd0;
}

.casetop {
  font-size: 10pt;
  align-self: center;
}

.Note {
  background-color: var(--Note);

}

.DWC {
  background-color: var(--DWC);
}

.Warn {
  background-color: var(--Warn);
}

.Kick {
  background-color: var(--Kick);
}

.Ban,
.Open,
.None {
  background-color: var(--Ban);
}

.Mute,
.Closed {
  background-color: var(--Mute);
}

.Inprogress {
  background-color: var(--InProgress);
}


#searchbox {
  width: 100%;
  padding: 20px;
  border: 0;
  color: white;
  margin-bottom: 20px;
  background-color: var(--bg-light);
  outline: none;
  border-radius: 5px;

}

h3 {
  color: var(--gold);
  text-transform: uppercase;
  letter-spacing: 2px;
}


@media only screen and (max-width: 820px) {
  .archive-entry {
    padding: 15px;
  }
}

@media only screen and (max-width: 620px) {
  #userid {
    display: none;
  }

  .userdetails {
    margin-top: 15px;
  }

  .time {
    text-align: left;
    margin-top: 5px;
  }
}
