<div class="page-layout">
  <div class="sidebar">
    <sidenav></sidenav>
  </div>
  <div class="navbar">
    <topnav navtitle="New Case"> </topnav>
  </div>
  <div class="body" style="padding: 0;">
    <div class="newCaseForm">
      <form
        autocomplete="off"
        #caseForm="ngForm"
        (ngSubmit)="onSubmit(caseForm)"
        novalidate
      >
        <div class="split-row">
          <div class="labelrow">
            <label for="userID">User Snowflake</label>

            <input
              #fUserID="ngModel"
              type="text"
              id="userID"
              class="newCase"
              name="userID"
              placeholder="123456678847"
              required
              [(ngModel)]="userID"
              [ngClass]="{ 'is-invalid': fUserID.errors }"
              pattern="^[0-9]{11,23}$"
            />
            <div *ngIf="fUserID.errors">
              <div class="error" *ngIf="fUserID.errors.pattern">
                INVALID SNOWFLAKE
              </div>
              <div class="error" *ngIf="fUserID.errors.required">
                REQUIRED
              </div>
            </div>
          </div>

          <div class="labelrow">
            <label for="userID">Case Type:</label>

            <select
              name="caseType"
              class="newCase select"
              [(ngModel)]="caseType"
              #fCaseType="ngModel"
              (change)="highlightType($event)"
              required
            >
              <option selected="selected" disabled value=""
                >Choose a type...</option
              >
              <option value="Note">Note</option>
              <option value="DWC">DWC</option>
              <option value="Kick">Kick</option>
              <option value="Ban">Ban</option>
              <option value="Warn">Warn</option>
              <option value="Mute">Mute</option>
            </select>
            <div class="error" *ngIf="fCaseType.value == ''">
              REQUIRED
            </div>
          </div>
        </div>

        <div class="labelrow mr-0 mt-3">
          <label for="description" class="mr-0">Description</label>

          <textarea
            #fDescription="ngModel"
            id="description"
            class="newCase"
            name="description"
            rows="10"
            style="resize: none;"
            required
            placeholder="Some text here explaining reason for this new case…"
            [(ngModel)]="description"
            [ngClass]="{
              'is-invalid': fDescription.errors && fDescription.touched
            }"
          ></textarea>
          <div class="error" *ngIf="description?.length > 1024">
            MESSAGE TOO LONG (1024 chars)
          </div>
          <div *ngIf="fDescription.errors">
            <div class="error" *ngIf="fDescription.errors.required">
              REQUIRED
            </div>
          </div>
        </div>
        <div class="labelrow mr-0 mt-3">
          <label for="imageupload" class="mr-0">Image</label>
          <div class="error" [hidden]="!imageUploadError">
            {{ imageUploadError }}
          </div>
          <ngx-dropzone
            (change)="onSelect($event)"
            [accept]="'image/png, image/jpeg, image/jpg'"
            style="
              width: 100%;
              background-color: var(--bg-dark);
              border: 0;
              height: auto;
              padding: 10px;
            "
          >
            <ngx-dropzone-label>Drop image or paste URL…</ngx-dropzone-label>
          </ngx-dropzone>
        </div>

        <div class="attachedImages" [hidden]="files.length == 0">
          <div class="attachedImage" *ngFor="let f of files">
            <ngx-dropzone-label
              ><i
                class="far fa-times-circle removeImage"
                (click)="onRemove(f)"
              ></i>
              {{ f.name }}</ngx-dropzone-label
            >
            <ngx-dropzone-image-preview
              ngProjectAs="ngx-dropzone-preview"
              [file]="f"
            >
            </ngx-dropzone-image-preview>
          </div>
        </div>
        <div class="mr-0 mt-4 btns">
          <input
            type="submit"
            id="save"
            value="Save"
            [disabled]="!caseForm.form.valid"
          />
          <input type="button" id="reset" value="Reset" />
        </div>
      </form>
      <div class="infoBox">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia
        quibusdam sunt excepturi eius voluptas pariatur quo fugiat! Eius,
        eligendi assumenda.
      </div>
    </div>
  </div>
</div>
