/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Typography */
  --roboto: "Roboto", "Helvetica Now", "Helvetica Neue", "Helvertica", sans-serif;
  /* Colours */
  --light-text: #EDEDED;
  --text: #BDBDBD;
  --gold: #F3C965;
  --gold-dark: #CFAE64;
  --bg: #282832;
  --bg-dark: #191923;
  --bg-light: #34343E;
  /* Effects */
  --shadow: 0 4px 4px rgba(0, 0, 0, .25);
  --radius-big: 10px;
}

html,
body {
  font-family: var(--roboto);
  font-size: 16pt;
  color: var(--text);
  padding: 0;
  margin: 0;
}


/* Icons */
span.burger:after {
  content: "";
  display: block;
  height: 5px;
  width: 2em;
  background: var(--gold);
  bottom: -6px;
  position: relative;
}

span.burger:before {
  content: "";
  display: block;
  height: 5px;
  width: 2em;
  background: var(--gold);
  top: -12px;
  position: relative;
}

span.burger {
  display: inline-block;
  height: 5px;
  width: 2em;
  background: var(--gold);
}
